<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-lg-10 m-auto">
            <app-puzzle></app-puzzle>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class = "container-flex">
                <div class="row d-flex">
                    <div class="col-lg-3 text-center mb-3">
                        <p class="tittle mb-0">Sumas</p>
                        <i class="bi bi-plus-square icon-add"></i>
                    </div>
                    <div class="col-lg-3 text-center mb-3">
                        <p class="tittle mb-0">Restas</p>
                        <i class="bi bi-dash icon-sub"></i>
                    </div>
                    <div class="col-lg-3 text-center mb-3">
                        <p class="tittle mb-0">Multiplicaciones</p>
                        <i class="bi bi-x icon-mul"></i>
                    </div>
                    <div class="col-lg-3 text-center mb-3">
                        <p class="tittle mb-0">Secuencias</p>
                        <i class="bi bi bi-list-ol icon-seq"></i>
                    </div>
                    <div class="col-lg-3 text-center mb-3">
                        <p class="tittle mb-0">Divisiones</p>
                        <i class="bi bi-hr icon-div"></i>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>