.icon-add{
    background-color: #9DD41D;
    color: white;
    font-size: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon-add:hover{
    font-size: 11rem;
}

.icon-sub{
    background-color: #B921FB;
    color: white;
    font-size: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon-sub:hover{
    font-size: 11rem;
}

.icon-mul{
    background-color: #59ADFF;
    color: white;
    font-size: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon-mul:hover{
    font-size: 11rem;
}

.icon-seq{
    background-color: #FC4850;
    color: white;
    font-size: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon-seq:hover{
    font-size: 11rem;
}

.icon-div{
    background-color: #F8C822;
    color: white;
    font-size: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon-div:hover{
    font-size: 11rem;
}

.icon-back{
    background-color: #C31E25;
    color: white;
    font-size: 2.5rem;
    padding: 1.2rem;
    border-radius: 1.1rem;
    transition: background-color 0.2s;
    cursor: pointer;
    position: absolute;
}

.icon-back:hover{
    background-color: #af1b23;
}

.tittle{
    font-weight: bold;
}