<nav class="navbar nav-style">
    <div class="container-fluid">
        <p class="page-name my-auto">
            <img src='../../../assets/imagenes/logo.png' alt="Pieza de puzle" style="height: 70px;">
            MathGo
        </p>
        <div class="dropdown mx-3">
            <button class="btn btn-secondary dropdown-toggle user-style" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle user-icon"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Mi Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/login">Iniciar Sesion</a></li>
            </ul>
          </div>
    </div>
  </nav>

