.form-style{
    border: solid; 
    border-radius: 1rem;
    border-width: 0.1rem;
    border-color: #D8DEE2;
    background-color: white;
}

.enunciado{
    font-size: 1.3rem;
    font-weight: bold;
    resize: none;
}

.operation-text{
    font-size: 1.5rem;
    resize: none;
}

.acierto-text{
    font-size: 1.5rem;
    font-weight: bold;
    resize: none;
    color: green;
}

.fallo-text{
    font-size: 1.5rem;
    font-weight: bold;
    resize: none;
    color: red;
}

.separator-text{
    font-size: 1.5rem;
    resize: none;
}

.exercise-btn{
    color: white;
    font-weight: bold;
    background-color: #90C418;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.exercise-btn:hover{
    background-color: #79a317;
}