<form [formGroup]="problemaForm" (ngSubmit)="onSubmit()">
    <div class = "form-style" *ngIf="problemaActual != null">
        <ng-container formArrayName="ejercicios">
            <div class= "container py-3" *ngFor="let ejercicio of ejercicios.controls;index as i">
                <ng-container [formGroupName]="i">
                    <div class="row-lg-auto">
                        <div class="input-group">
                            <textarea type="text" readonly class="form-control-plaintext enunciado"  aria-label="Disabled input example" formControlName="enunciado"></textarea>
                        </div>
                    </div>
                    <div class="row-lg-auto d-flex">
                        <ng-container formArrayName="operaciones">
                            <div class="col-lg-3 mx-5" *ngFor="let operacion of getEjercicio(ejercicio)?.controls;index as j">
                                <ng-container [formGroupName]="j">
                                    <div class = "row-auto d-inline">
                                        <div class="col-lg-4 float-rigth text-center">
                                            <ng-container formArrayName="operandos">
                                                <div class="row-auto" *ngFor="let operando of getOperandos(operacion)?.controls;index as m">
                                                    <ng-container [formGroupName]="m">
                                                        <div class="input-group" *ngIf="operando.get('operando')?.disabled">
                                                            <textarea type="text" readonly class="form-control-plaintext operation-text"  aria-label="Disabled input example" formControlName="operando"></textarea>
                                                        </div>
                                                        <input type="text" class="form-control" formControlName="operando" *ngIf="!operando.get('operando')?.disabled">
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>  
        </ng-container>   
    </div>
    <div class= "row-lg-12">
    <div class="col-lg-12">
        <button click="onSubmit()" class="btn container-fluid exercise-btn my-3">ENVIAR</button>
    </div>
</div>
</form>