<form [formGroup]="problemaForm" (ngSubmit)="onSubmit()">
    <div class = "form-style" *ngIf="problemaActual != null">
        <ng-container formArrayName="ejercicios">
            <div class= "container py-3" *ngFor="let ejercicio of ejercicios.controls;index as i">
                <ng-container [formGroupName]="i">
                    <div class="row row-lg-12">
                        <div class="input-group">
                            <textarea type="text" readonly class="form-control-plaintext enunciado"  aria-label="Disabled input example" formControlName="enunciado"></textarea>
                        </div>
                    </div>
                    <div class="row row-lg-12">
                        <!-- Plantilla para problemas de secuencias -->
                        <ng-container formArrayName="operaciones" *ngIf= "tipoProblema == 'secuencias'">
                            <div class="col col-lg-4 m-1 mx-0 p-3 operand-box" *ngFor="let operacion of getOperaciones(ejercicio)?.controls;index as j">
                                <ng-container [formGroupName]="j">
                                    <div class = "row row-lg-12">
                                        <ng-container formArrayName="operandos">
                                            <div class="col text-center me-0 px-1" *ngFor="let operando of getOperandos(operacion)?.controls;index as m">
                                                <ng-container [formGroupName]="m">
                                                    <div class="input-group" *ngIf="operando.get('operando')?.disabled">
                                                        <input type="text" readonly class="form-control-plaintext operation-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="operando">
                                                    </div>
                                                    <input type="text" class="form-control operation-text m-auto align-middle p-1" formControlName="operando" *ngIf="!operando.get('operando')?.disabled">
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class = "row row-lg-12" *ngIf="esCorregido">
                                        <ng-container formArrayName="respuestas">
                                            <div class="col text-center me-0 px-1" *ngFor="let respuesta of getRespuestas(operacion)?.controls;index as n">
                                                <ng-container [formGroupName]="n">
                                                    <div class="input-group" *ngIf="!respuesta.get('resultado')?.disabled">
                                                        <input type="text" readonly class="form-control-plaintext acierto-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="resultado">
                                                    </div>
                                                    <div class="input-group" *ngIf="respuesta.get('resultado')?.disabled">
                                                        <input type="text" readonly class="form-control-plaintext fallo-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="resultado">
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container> 
                            </div>
                        </ng-container>
                        <!-- Plantilla para problemas de sumas, restas, multiplicaciones y divisiones -->
                        <ng-container formArrayName="operaciones" *ngIf= "tipoProblema != 'secuencias'">
                            <div class="col col-lg-3 d-inline-block p-3 mb-2 operand-box" *ngFor="let operacion of getOperaciones(ejercicio)?.controls;index as j">
                                <div class="row row-lg-auto d-flex justify-content-center">
                                    <ng-container [formGroupName]="j">
                                        <div class = "col col-lg-6">
                                            <ng-container formArrayName="operandos">
                                                <div class = "row row-lg-auto d-flex">
                                                    <div class="col col-lg-3">
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'sumas'">+</p>
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'restas'">-</p>
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'multiplicaciones'">x</p>
                                                    </div>
                                                    <div class="col col-lg-9">
                                                        <div class="row row-lg-auto text-center me-2 p-2" *ngFor="let operando of getOperandos(operacion)?.controls;index as m">
                                                            <ng-container [formGroupName]="m">
                                                                <hr class="separator-text" *ngIf="(m+1) == getOperandos(operacion)?.controls?.length">
                                                                <div class="input-group" *ngIf="operando.get('operando')?.disabled">
                                                                    <input type="text" readonly class="form-control-plaintext operation-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="operando">
                                                                </div>
                                                                <input type="text" class="form-control operation-text m-auto align-middle p-1" formControlName="operando" *ngIf="!operando.get('operando')?.disabled">
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class = "col col-lg-6 result-box" *ngIf="esCorregido">
                                            <ng-container formArrayName="respuestas">
                                                <div class = "row row-lg-auto d-flex">
                                                    <div class="col col-lg-3">
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'sumas'">+</p>
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'restas'">-</p>
                                                        <p class="mt-4 operation-text text-center" *ngIf= "tipoProblema == 'multiplicaciones'">x</p>
                                                    </div>
                                                    <div class="col col-lg-9">
                                                        <div class="row row-lg-auto text-center me-2 p-2" *ngFor="let respuesta of getRespuestas(operacion)?.controls;index as n">
                                                            <ng-container [formGroupName]="n">
                                                                <hr class="separator-text" *ngIf="(n+1) == getRespuestas(operacion)?.controls?.length">
                                                                <div class="input-group" *ngIf="!respuesta.get('resultado')?.disabled">
                                                                    <input type="text" readonly class="form-control-plaintext acierto-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="resultado">
                                                                </div>
                                                                <div class="input-group" *ngIf="respuesta.get('resultado')?.disabled">
                                                                    <input type="text" readonly class="form-control-plaintext fallo-text m-auto align-middle text-center" aria-label="Disabled input example" formControlName="resultado">
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>   
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>  
        </ng-container>   
    </div>
    <div class= "row-lg-12">
    <div class="col-lg-12">
        <button click="onSubmit()" class="btn container-fluid exercise-btn my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">ENVIAR</button>
    </div>
</div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resumen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Tu puntuación ha sido de: {{aciertos}} sobre {{total}}</p>
        <p>Has tardado un total de: {{minutos}}min {{segundos}}seg</p>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="verSolucion()">Ver solución</button>     
    </div>
    </div>
</div>
</div>
  